#header {
    width: 100%;
}

#scoreboard {
    width: 200px;
    height: 89px;
    background-color: #f8f9fa; 
    border: 2px solid #000;
    position: absolute;
    top: 30px;
    right: 30px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    }

#game-info {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 0.9em;
    }

    
.cavaliers {
        background-color: maroon;
        padding: 0.5mm;
    }
    
.warriors {
        background-color: blue; 
        padding: 0.5mm;
    }

.team {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    color: #fff;
}
.team-name {
    font-weight: bold;
}
.team-score {
    font-size: 1.5em;
    font-weight: bold;
}

#text-logo {
    position: absolute; 
    bottom: 5px;
    left: 60px; 
    font-size: 24px;
    color: #000;
    font-weight: bold; 
    background: rgba(255, 255, 255, 0.7);
    padding: 5px; 
    border-radius: 5px;
    text-align: center;
}
