#projects {
    display: flex;
    flex-direction: column;
    margin: 10vh 20vw;
    font-family: 'Manrope', sans-serif;
    margin-top: 20px; /* Reduce gap between about section and projects */
}

#projects a {
    text-decoration: none;
    color: black;
    font-family: 'Manrope', sans-serif;
}

.project:hover {
    background-color: blanchedalmond;
}

.project {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 15px 20px;
    align-items: center; /* center the items */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a soft shadow effect */
    border-radius: 8px; /* Rounded corners for the project box */
    font-family: 'Manrope', sans-serif;
}

.project img {
    width: 10vw;
    height: auto;
    margin-right: 20px; /* Add space between the image and the text */
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
}

.description {
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
}


#heading-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 10vh 20vw;
    font-family: 'Manrope', sans-serif;
}

#buttons {
    display: flex;
    gap: 10px; 
}

#buttons button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buttons button:hover {
    background-color: #45a049;
}

.body {
    background-color: yellow;
}

#heading-container h3 {
    font-size: 32px;
    font-weight: bold; 
    margin: 0; 
}
/* Center the entire about section */
#about {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: auto;         
    text-align: center;      
    margin-top: 20px;        
}

/* Container to hold both the image and the text side by side */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

/* Styling for the image */
.image img {
    width: 300px;
    height: auto; 
    border-radius: 8px; 
}

/* Styling for the name and description */
#name {
    max-width: 500px; 
    text-align: left    ; 
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem; 
    margin-bottom: 10px;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: .9rem; 
    line-height: 2.0; 
}

